<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= @order.email %>!</h4>

    <% @order.line_items.each do |item| %>
      <%= render 'orders/item', item: item %>
    <% end %>
    <h3>Total: $<%= number_with_precision(@order.total_cents/100, :precision => 2, :delimiter => ',') %></h3>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
